{{ define "main" }}
<div class="bg-white section-padding">
    <div class="container mx-auto px-4 text-center">
        <h1 class="text-4xl">{{ .Title }}</h1>
        {{ with .Content }}<div class="prose prose-lg max-w-3xl mx-auto mt-4">{{ . }}</div>{{ end }}
    </div>
</div>
<section class="section-padding">
    <div class="container mx-auto px-4">
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
            {{ range .Paginator.Pages }}
                {{ .Render "card" }}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}