{{ define "main" }}
<div class="bg-white section-padding">
    <div class="container mx-auto px-4">
        <div class="max-w-4xl mx-auto">
            <h1 class="text-4xl mb-4">{{ .Title }}</h1>
            {{ with .Description }}<p class="text-xl text-[var(--text-light)]">{{ . }}</p>{{ end }}
        </div>
    </div>
</div>
<div class="section-padding">
    <div class="container mx-auto px-4">
        <div class="prose prose-lg max-w-4xl mx-auto">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}