{{ define "main" }}
<div class="bg-white py-12">
    <div class="container">
        <div class="max-w-3xl mx-auto">
            <h1 class="text-4xl mb-4">{{ .Title }}</h1>
            {{ if .Description }}
            <p class="text-lg text-light">{{ .Description }}</p>
            {{ end }}
        </div>
    </div>
</div>

<div class="py-12">
    <div class="container">
        <div class="prose prose-lg max-w-3xl mx-auto">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}
